.page {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  align-self: self-end;
  margin-bottom: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.photo {
  width: 100%;
  height: auto;
}